

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: auto;
}

.middle-section {
    height: 60%;
    display: flex;
}

    .left-of-calc {
        flex: auto;
    }

    .calculator-shell {
        width: 18%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        border: 1px solid;
        padding: 7px;
        background-color: rgb(0, 0, 0);
    }

        .calculator-screen {
            height: 20%;
            min-height: 60px;
            border-radius: 10px;
            margin: 10px;
            background-color: green;
            color: white;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }

            .display-text {
                font-size: 200%;
                width: auto;
                height: 60%;
                padding-right: 10px;
            }

            .captured-number {
                width: auto;
                height: 40%; 
                padding-right: 25px;
                padding-top: 3px;
            }

            .display-text,
            .captured-number {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

        .calculator-buttons {
            flex: 3;
            display: flex;
        }

            .column {
                flex: auto;
                display: flex;
                flex-direction: column;
                width: 25%;
                justify-content: space-evenly;
                align-items: center;
            }

                .button {
                    height: 18%;
                    width: 90%;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.2);
                    color: white;
                }

    .right-of-calc {
        flex: auto;
    }

.footer {
    flex: auto;
}